{% from et.w_admin.common.helper import web_helper %}
{% for menu in bag.menus %}

{% if web_helper.has_sub_menus(handler, menu.id) %}
<li>
    <a href="javascript:void(0);" class="dropdown-toggle">
        <i class="icon-list"></i>
        <span class="menu-text"> {{ menu.display_name }} </span>

        <b class="arrow icon-angle-down"></b>
    </a>
    {% import config %}
    {% module MenuItem(config.secondary_menu_level, menu.id) %}
</li>
{% else %}
<li>
    <a href="{{ menu.url }}">
        <i class="icon-desktop"></i>
        <span class="menu-text">{{ menu.display_name }}</span>
    </a>
</li>
{% end %}

{% end %}