{% extends base.html %}
{% block title %}后台用户列表{% end %}
{% block pos %}后台用户列表{% end %}

{% block main %}
{% from et.w_admin.common.enums import UserType %}
<div class="tools">

    <ul class="toolbar">
        <li><a href="/admin_user_edit"><img src="/static/images/t01.png"/>添加</a></li>
    </ul>

</div>


<table class="tablelist">
    <thead>
    <tr>
        <th><input type="checkbox"/></th>
        <th>登录名</th>
        <th>显示名</th>
        <th>用户类型</th>
        <th>创建时间</th>
        <th>更新时间</th>
        <th>职位</th>
        <th>部门</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for user in model %}
    <tr>
        <td><input type="checkbox"/></td>
        <td>{{ user.user_name }}</td>
        <td>{{ user.display_name }}</td>
        <td>{{ UserType.type_name(user.user_type) }}</td>
        <td>{{ user.create_datetime }}</td>
        <td>{{ user.update_datetime }}</td>
        <td>{{ user.position.name }}</td>
        <td>{{ user.department.name }}</td>
        <td><a href="/admin_user_edit/{{ user.user_name }}">编辑</a></td>
    </tr>
    {% end %}
    </tbody>
</table>
{% end %}