{% extends base.html %}

{% block pos %}
编辑菜单
{% end %}

{% block main %}
<form id="menu_form" method="post">
    <div class="formbody">
        <div class="formtitle"><span>菜单编辑</span></div>

        <ul class="forminfo">
            <li>
                <label>菜单名</label>
                <input name="name" type="text" class="dfinput" value="{{ model.name }}"/>
            </li>
            <li>
                <label>显示名</label>
                <input name="display_name" type="text" class="dfinput" value="{{ model.display_name }}"/>
            </li>
            <li>
                <label>描述</label>
                <input name="description" type="text" class="dfinput" value="{{ model.description }}"/>
            </li>
            <li>
                <label>级别</label>
                <input name="level" type="text" class="dfinput" value="{{ model.level }}"/>
            </li>
            <li>
                <label>父菜单</label>
                <div class="vocation">
                    <select id="parent_menu" name="parent_menu">
                        {% for pm in bag.parent_menus %}
                        <option value="{{ pm.id }}"
                                {% if pm.id == model.parent.id %}selected{% end %}>{{ pm.display_name }}</option>
                        {% end %}
                    </select></div>
            </li>
            <li>
                <label>url</label>
                <input name="url" type="text" class="dfinput" value="{{ model.url }}"/>
            </li>
            <li>
                <label>排序</label>
                <input name="order" type="text" class="dfinput" value="{{ model.order }}"/>
            </li>
            <li>
                <label>&nbsp;</label>
                <input type="submit" class="btn" value="确认保存"/>
            </li>
        </ul>
    </div>
</form>
</div>
{% end %}

{% block footer %}
<script type="text/javascript">
    $(function () {
        $('#parent_menu').uedSelect();

        //更改级别重新加载父菜单
        $('input[name=level]').blur(function () {
            var self = $(this);
            var level = self.val();
            level = parseInt(level) - 1;
            $.ajax({
                url: '/load_menus',
                type: 'GET',
                data: {
                    level: level
                },
                success: function (resp) {
                    if (resp.status === 0) {
                        var parent_menu = $('#parent_menu');
                        parent_menu.empty();
                        $('<option>').val('').text('请选择').appendTo(parent_menu);
                        $.each(resp.data, function (index, item) {
                            $('<option>').val(item.id).text(item.display_name).appendTo(parent_menu);
                        });
                    } else {
                        alert(resp.msg);
                    }
                },
                error: function () {
                    alert('加载菜单出错');
                }
            });
        });


        //表单验证
        $('#menu_form').validate({
            errorElement: 'p',
            errorClass: 'valid-error',
            rules: {
                name: {
                    required: true
                },
                display_name: {
                    required: true
                },
                level: {
                    required: true,
                    digits: true
                },
                parent_menu: {
                    selected: true
                },
                order: {
                    required: true,
                    digits: true
                }
            },
            messages: {
                name: {
                    required: '请填写菜单名'
                },
                display_name: {
                    required: '请填写显示名'
                },
                level: {
                    required: '请填写级别',
                    digits: '级别必须是数字'
                },
                parent_menu: {
                    selected: '请选择父菜单'
                },
                order: {
                    required: '请填写排序',
                    digits: '排序必须是数字'
                }
            },
            submitHandler: function (form) {
                $(form).ajaxSubmit({
                    dataType: 'JSON',
                    success: function (resp) {
                        if (resp.status === 0) {
                            alert('保存成功');
                        } else {
                            alert(resp.msg);
                        }
                    },
                    error: function () {
                        alert('提交失败');
                    }
                });
            }
        });

        $.validator.addMethod('selected', function (value, element) {
            value = $(element).find('option:selected').val();
            var level = $('input[name=level]').val();
            if (level === '0' || level === undefined) {
                return true;
            } else {
                return value !== '' && value !== undefined;
            }
        });
    });
</script>
{% end %}